
  

a{
    text-decoration: none !important;
    padding-left: 20px;
}
.navbar-nav .nav-link {
    text-decoration: none;
   color: black !important;
   list-style: none !important;
   
  

  }
  .tn-icons {
    padding: 10px;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.tn-icons a{

    font-size: 1.3rem;
    color: black;
}
.fav-icon svg,
.login svg,
.cart-icon svg {
    color: black; 
} 
