 /* .navbar{
    display: flex;
    justify-content: space-around;
padding: 16px;
box-shadow:  0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;

     
}

.nav-menu{
    display:flex ;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font: weight 500px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    cursor:pointer;
}

.nav-menu hr{
    border:none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

nav-login-cart{
    display :flex;
    align-items: center;
    gap: 45px;
}

nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151; 
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;

}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
} */




/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-link {
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .navbar-link:last-child {
    margin-right: 0;
  }
   */

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input[type="text"] {
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-button,
  .navbar-button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover,
  .navbar-button:hover {
    background-color: #f0f0f0;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-link {
    margin-right: 1rem;
    cursor: pointer;
    color: #333333;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #007bff;
  }
  