.photoglow {
  position: relative;
  transition: all 1s;
}
.photoglow:hover {

  transform: scale(1.05)
}


.shop-by-title {
  font-size: 30px; /* Changer la taille de la police selon vos besoins */
}

.category-title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px;
  text-align: left;
  z-index: 1; 
  width: 100%; 
  margin-top: 30px;
  padding: 20px;
  font-size: 18px; /* Changer la taille de la police */
  color: #333; /* Changer la couleur du texte */
}

.photoglow .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photoglow .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photoglow:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photoglow:hover .category-title {
  background-color: rgba(255, 255, 255, 0.9); 
}
.img{
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  
}