
.product img {
  width: 100px; /* Définir une largeur fixe pour toutes les images */
  height: 100px; /* Définir une hauteur fixe pour toutes les images */
  margin-bottom: 10px;
}


.product h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}






.product-list .product {
  margin-top: 50px; /* Ajouter une marge en haut pour déplacer les produits vers le bas et éviter de se superposer avec la barre de titre */
}
.product-list {
  margin-top: 20px;
  overflow: hidden; /* Clear the float */
}


.product-list {
  display: flex;
  flex-wrap: wrap;
}

