body {
  margin: 0; 
  padding: 0; 
}

.hero-container {
  background-image: url('https://www.shutterstock.com/image-photo/highquality-crop-photo-skincare-cosmetics-260nw-2337578359.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to fill the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Text color */
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px; /* Adjust as needed */
  width: 90%;
}

.left-section {
  flex: 1;
  padding: 20px 30px; /* Adjust padding as needed */
  padding-left: 0; /* Remove left padding */
}

.right-section {
  flex: 1;
}

.left-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.left-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.left-section button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.left-section button:hover {
  background-color: #007bff;
  color: #fff;
}
